Source: libvmod-var
Section: web
Priority: extra
Maintainer: Lasse Karstensen <lkarsten@varnish-software.com>
Build-Depends: debhelper (>= 7), build-essential, python-docutils
Standards-Version: 3.8.1
Vcs-Git: git://github.com/varnish/libvmod-var.git

Package: libvmod-var
Architecture: any
Depends: varnish, ${misc:Depends}
Description:  Variable support VMOD
